# Add files here to ignore them from prettier formatting

/dist
/coverage

# IDE/Editor
.vscode
.idea

# Package Manager
package.json
package-lock.json
yarn.lock

# Angular-related
/dist
/coverage
**/assets/**/*

.angular
